@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul id="weather"></ul>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
        $(function () {

            // Objekt um Verbindung zur Hub-Klasse aufzubauen
            var connection = new signalR.HubConnectionBuilder()
                .withUrl("/weatherHub")
                .build();

            // Eventhandlings
            connection.on("Broadcast", function (message) {
                $("#weather").append("<li>" + message + "</li>");
            });

            // Verbindung zur Hub-Klasse starten
            connection.start().catch(function (err) {
                return console.error(err.toString());
            });
    });
</script>